XTerm.termName: xterm-256color
!XTerm.vt100.locale: true
XTerm.vt100.locale: false
!Only if locale is not utf8
!XTerm.vt100.utf8: true

!XTerm.vt100.faceName: Ubuntu Mono 
XTerm.vt100.faceName: Cascadia Code PL 
!XTerm.vt100.faceName: Source Sans Pro
XTerm.vt100.faceSize: 11

!Copy to Primary and Clipboard
!<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

!Keybindings for copy and paste

XTerm.vt100.translations: #override \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

!Show scroll bar
!XTerm.vt100.scrollBar: true
!XTerm.vt100.scrollbar.width: 8
XTerm.vt100.scrollBar: false
XTerm.vt100.internalBorder: 10
XTerm.vt100.borderWidth: 2
!Xterm.vt100.rightScrollBar: true

#include ".config/Xresources/myColors"
!#include ".config/Xresources/origColors"
!#include ".config/Xresources/solarizedColors"
